body, html {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #034660;
	overflow: hidden;

}
body {
	background-color: #034660;	
}
audio { 
   display:none;
}
    
img {
 background-color:#ffffff;
position:fixed;
    
}

div#container {height:80%;width:80%;}